<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
 </configSections>
 <connectionStrings>
  <add name="Rutas.Presentacion.Properties.Settings.cn" connectionString="Data Source=192.168.192.227;Initial Catalog=APK66;User ID=SISTEMAS;Password=K66@AdminWeb;TrustServerCertificate=True"
   providerName="System.Data.SqlClient" />
  <add name="SistemaRecibos.Properties.Settings.cn" connectionString="Data Source=192.168.192.227;Initial Catalog=APK66;User ID=SISTEMAS;Password=K66@AdminWeb;TrustServerCertificate=True" />
  <add name="SistemaRecibos.Properties.Settings.APK66ConnectionString"
   connectionString="Data Source=K66-APPS;Initial Catalog=APK66;Persist Security Info=True;User ID=SISTEMAS;Password=K66@AdminWeb;TrustServerCertificate=True"
   providerName="Microsoft.Data.SqlClient" />
 </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>